---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: globex-gitops
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
      - user: user1
  template:
    metadata:
      name: "globex-gitops"
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ""
        namespace: "globex-gitops"
        server: 'https://kubernetes.default.svc'
      project: default
      syncPolicy:
        automated:
          prune: false
          selfHeal: false
      source:
        repoURL: {{ ocp4_workload_quarkus_sentiment_analysis_application_repo }}
        targetRevision: {{ ocp4_workload_quarkus_sentiment_analysis_application_repo_tag }}
        path: {{ ocp4_workload_quarkus_sentiment_analysis_application_repo_path_gitops }}
        helm:
          values: |
            name: {{ ocp4_workload_quarkus_sentiment_analysis_argo_application_name }}-user

            namespace: "globex-gitops-user"
 
            applicationSet:
              resources:
                requests:
                  cpu: 100m
            controller:
              resources:
                requests:
                  cpu: 100m
            dex:
              resources:
                requests:
                  cpu: 100m
            repo:
              resources:
                requests:
                  cpu: 100m
            server:
              resources:
                requests:
                  cpu: 125m
