{% for __binding in ocp4_workload_quarkus_sentiment_analysis_bindings_argo %}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: 'argo-{{ __binding.role }}-{{ __binding.namespace }}'
  namespace: '{{ __binding.namespace }}'
subjects:
  - kind: ServiceAccount
    name: '{{ ocp4_workload_quarkus_sentiment_analysis_argo_application_name }}-user-argocd-application-controller'
    namespace: '{{ ocp4_workload_quarkus_sentiment_analysis_argo_application_namespace }}'
  - kind: ServiceAccount
    name: '{{ ocp4_workload_quarkus_sentiment_analysis_argo_application_name }}-user-argocd-dex-server'
    namespace: '{{ ocp4_workload_quarkus_sentiment_analysis_argo_application_namespace }}'
roleRef:
  kind: ClusterRole
  name: '{{ __binding.role }}'
  apiGroup: rbac.authorization.k8s.io
{% endfor %}
