apiVersion: operator.knative.dev/v1beta1
kind: KnativeEventing
metadata:
 name: {{ ocp4_workload_quarkus_sentiment_analysis_serverless_eventing_name }}
 namespace: {{ ocp4_workload_quarkus_sentiment_analysis_serverless_eventing_namespace }}