apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: globex
  namespace: globex-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: globex
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: https://github.com/learn-quarkus/quarkus-serverless-sentiment-analysis.git
    targetRevision: main
    path: install/helm/globex
    helm:
      values: |

        kafka:
          name: &kafkaName kafka
          namespace: &namespace {{ r_workload_quarkus_sentiment_analysis_globex_mw_namespace   }}

        kafka-cluster: &kafka
          bootstrapServer: kafka-kafka-bootstrap.{{ r_workload_quarkus_sentiment_analysis_globex_mw_namespace  }}.svc.cluster.local:9092
          securityProtocol: {{ ocp4_workload_quarkus_sentiment_analysis_kafka_security_protocol }}
          saslMechanism: {{ ocp4_workload_quarkus_sentiment_analysis_kafka_sasl_mechanism }}
          clientId: {{ ocp4_workload_quarkus_sentiment_analysis_kafka_client_id }}
          clientSecret: {{ ocp4_workload_quarkus_sentiment_analysis_kafka_client_secret }}

        kafka-broker:
          namespace: *namespace
          nameOverride: *kafkaName
          kafka:
            config:
              autoCreateTopics: true

        kafka-topics:
          kafka:
            namespace: *namespace

        kafdrop:
          kafka:
            <<: *kafka
            namespace: *namespace

        activity-tracking:
          kafka: *kafka

        recommendation-engine:
          kafka: *kafka

        globex-db:
          pgsql:
            adminPassword: adminpassword
          image:
            tag: 43e87ee

        globex-web:
          sso:
            url: "https://{{ ocp4_workload_quarkus_sentiment_analysis_rhbk_host }}.{{ r_openshift_subdomain }}/realms/{{ ocp4_workload_quarkus_sentiment_analysis_rhbk_realm }}-user"
            client: {{ ocp4_workload_quarkus_sentiment_analysis_rhbk_web_gateway_client }}
            logoutUri: https://globex-web-{{ r_workload_quarkus_sentiment_analysis_globex_namespace }}.{{ r_openshift_subdomain }}/home
            logLevel: "2"

        streams-console:
          namespace: *namespace
          subdomain: {{ r_openshift_subdomain }}
          kafka:
            name: *kafkaName
            bootstrapServer: kafka-kafka-bootstrap.{{ r_workload_quarkus_sentiment_analysis_globex_mw_namespace }}.svc.cluster.local:9092
            authentication:
              saslMechanism: {{ ocp4_workload_quarkus_sentiment_analysis_kafka_sasl_mechanism }}
              securityProtocol: {{ ocp4_workload_quarkus_sentiment_analysis_kafka_security_protocol }}
            authorization: simple
          user: user
