---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "module-serverless"
  namespace: "globex-gitops"
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  ignoreDifferences:
  - group: serving.knative.dev
    kind: Service
    jsonPointers:
    - "/spec/template/spec/containers/0/name"
    - "/spec/template/spec/containers/0/env"
  destination:
    name: ''
    namespace: "globex-gitops"
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: "{{ ocp4_workload_quarkus_sentiment_analysis_serverless_repoUrl }}"
    targetRevision: "{{ ocp4_workload_quarkus_sentiment_analysis_serverless_tag }}"
    path: "{{ ocp4_workload_quarkus_sentiment_analysis_serverless_path }}"
    helm:
      valuesObject:
        kafka:
          namespace: globex-mw
          bootstrapServer: kafka-kafka-bootstrap.globex-mw.svc.cluster.local:9092
        kafka-topics:
          kafka:
            namespace: globex-mw
            cluster: kafka
        kafka-secret:
          kafka:
            namespace: globex-mw
        knative-kafkasink:
          kafka:
            bootstrapServer: kafka-kafka-bootstrap.globex-mw.svc.cluster.local:9092
        knative-kafkasource:
          kafka:
            bootstrapServer: kafka-kafka-bootstrap.globex-mw.svc.cluster.local:9092
        product-reviews:
          kafkaSink:
            reviews: "${K_SINK}"
        aiml-moderate-reviews:
          gunicorn:
            threads: '4'
            timeout: '180'
        aiml-sentiment-reviews:
          gunicorn:
            threads: '4'
            timeout: '180'
        globex-web-reviews:
          globexStoreApp:
            url: http://globex-store-app.globex.svc.cluster.local:8080
          activityTrackingService:
            url: http://activity-tracking.globex.svc.cluster.local:8080
            service: activity-tracking
            path: "/track"
          recommendationEngine:
            url: http://recommendation-engine.globex.svc.cluster.local:8080
            service: recommendation-engine
            path: "/score/product"
          productReviews:
            url: http://product-reviews.{{ .Values.module.module_serverless.destination.namespace
              }}.svc.cluster.local:8080
            submitReviewPath: "/review/submit"
            fetchReviewPath: "/review/list"
          sso:
            url: https://sso.{{ .Values.openshift.domain }}/realms/globex
            client: globex-web-gateway
            logoutUri: https://globex-web-globex-serverless.{{ .Values.openshift.domain }}/home
